<div class="contenedor-detalle">
  <div class="imagen">
    <img src="{{detalleProducto?.link}}" alt="">
  </div>
  <div class="descripcion">
    <h2>{{detalleProducto?.nombre}}</h2>
    <p><s>Precio de venta recomendado: $1785</s></p>
    <p><strong>¡Ahora a la venta por solo ${{detalleProducto?.precio}}</strong></p>
    <p>{{detalleProducto?.categoria}}</p>
    <div class="cont-botones">
      <button *ngIf="!isInCart()" (click)="aniadirAlCarrito()">AÑADIR AL CARRITO</button>
      <button *ngIf="isInCart()" (click)="eliminarItemCarrito()">Eliminar</button>
    </div>

  </div>
</div>