<div class="contenedor-detalle">
  <div class="imagen">
    <img src="{{detalleProducto?.image}}" alt="">
  </div>
  <div class="descripcion">
    <h2>{{detalleProducto?.title}}</h2>
    <p><s>Precio de venta recomendado: $1785</s></p>
    <p><strong>¡Ahora a la venta por solo ${{detalleProducto?.price}}</strong></p>
    <p><span>Calificación de nuestros consumidores: </span> <strong>{{detalleProducto?.rating?.rate}}/5</strong></p>
    <p>{{detalleProducto?.description}}</p>
    <div class="cont-botones">
      <button *ngIf="!isInCart()" (click)="aniadirAlCarrito()">AÑADIR AL CARRITO</button>
      <button *ngIf="isInCart()" (click)="eliminarItemCarrito()">Eliminar</button>
    </div>

  </div>
</div>