<div class="topnav">
  <a [routerLink]="['inicio']" routerLinkActive="active">Inicio</a>
  <a [routerLink]="['tienda']" routerLinkActive="active">Tienda</a>
  <a [routerLink]="['nosotros']" routerLinkActive="active">Nosotros</a>
  <a [routerLink]="['contactanos']" routerLinkActive="active">Contactanos</a>

  <input type="text" placeholder="Buscar..." [formControl]="searchControl" (input)="onSearch()"/>
  <button (click)="toggleShoppingDiv()">
    <span>Items en carrito</span>
    <span>  {{getItemsCount()}}</span>
  </button>
</div>

<div class="carrito-pestana" [class.visible]="showShoppingDiv"> <!-- clase.visible es para añadir el css posteriormente -->
  <button class="close-btn" (click)="toggleShoppingDiv()">Close</button>
  <app-carrito *ngIf="showShoppingDiv"></app-carrito>
</div>
<router-outlet></router-outlet>






