.contenedor-producto{
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 25px;
    .contenedor-imagen{
      width: 100%;
      height: 250px;
      overflow-x: clip;
    }
    h2{
      font-weight: bolder;
    }
    img{
      //height: 100%;
      height: 250px;
      margin: 0 auto;
      display: block;
    }
    .clasificacion-titulo{
      font-weight: bolder;
    }
   }
   
   
   

