<!-- producto.component.html -->
<div class="contenedor-producto">
  <h2 class="titulo">{{ producto.nombre }}</h2>
  <div class="contenedor-imagen">
    <img [src]="producto.link" alt="{{ producto.nombre }}">
  </div>

  <p>{{ producto.categoria }}</p>
  <div>
    <span>Precio: </span><span>{{ producto.precio }} Bs.</span>
  </div>
  <div class="cont-botones">
    <button [routerLink]="['/detalles', producto.id_producto]">Ver detalles</button>
    <button *ngIf="!isInCart()" (click)="aniadirAlCarrito()">Añadir</button>
    <button *ngIf="isInCart()" (click)="eliminarItemCarrito()">Eliminar</button>

    <!-- Mostrar solo si el usuario es admin -->
    <button *ngIf="isAdmin()" (click)="eliminarProducto()">Eliminar Producto</button>
    <button *ngIf="isAdmin()" (click)="editarProducto()">Editar Producto</button>
  </div>
</div>
