<div>
  <h1>Shopping</h1>
  <span class="items">{{ items }}</span>
  <span> Items</span>
</div>

<div *ngIf="carrito.length > 0; else noProductos">
  <div *ngFor="let producto of carrito; trackBy: trackById" class="contenedor-producto">
    <h2 class="titulo">{{ producto.title }}</h2>
    <div class="contenedor-imagen">
      <img [src]="producto.image" alt="">
    </div>
    <span>Precio: {{ producto.price }}</span>
    <div class="cantidad-control">
      <button (click)="decrementarCantidad(producto)">-</button>
      <span>{{ producto.cantidad }}</span>
      <button (click)="incrementarCantidad(producto)">+</button>
    </div>
  </div>
  <div class="total">
    <span>Total a pagar: {{ calcularTotal() | currency }}</span>
  </div>
</div>

<ng-template #noProductos>
  <p>No existen productos</p>
</ng-template>
