
<div>
  <h1>Shopping</h1>
  <span class="items">{{ items }}</span>
  <span> Items</span>
</div>

@for (producto of carrito; track producto.id) {
  <div class="contenedor-producto">
    <h2 class="titulo">{{producto.title}}</h2>
    <div class="contenedor-imagen">
      <img src="{{producto.image}}" alt="">
    </div>
    <span>Precio: {{ producto.price }}</span>
    <div class="cantidad-control">
      <button (click)="decrementarCantidad(producto)">-</button>
      <span>{{ producto.cantidad }}</span>
      <button (click)="incrementarCantidad(producto)">+</button>
    </div>
  </div>
  <div class="total">
    <span>Total a pagar: {{ calcularTotal() | currency }}</span>
  </div>
} @empty {
  <p>No existen productos</p>
}

