<div>
  <h1>Shopping</h1>
  <span class="items">{{ items }}</span>
  <span> Items</span>
</div>

<div *ngIf="carrito.length > 0">
  <div *ngFor="let producto of carrito; trackBy: trackById" class="contenedor-producto">
    <h2 class="titulo">{{ producto.nombre }}</h2>
    <div class="contenedor-imagen">
      <img [src]="producto.link" alt="">
    </div>
    <span>Precio: {{ producto.precio }}</span>
    <!-- <div class="cantidad-control">
      <button (click)="decrementarCantidad(producto)">-</button>
      <span>{{ producto.cantidad }}</span>
      <button (click)="incrementarCantidad(producto)">+</button>
    </div>
  </div>
  <div class="total">
    <span>Total a pagar: {{ calcularTotal() | currency }}</span>
  </div> -->
</div>

<div *ngIf="items === 0">
  No hay productos en el carrito.
</div>

